#!/usr/bin/env bash

# You can also find the environment variables by the following commands:
# `nrfutil toolchain-manager env --ncs-version <version> --as-script`
# `nrfutil sdk-manager list --json`
# <version> is like v3.2.3

# toolchain path
export PATH=/opt/nordic/ncs/toolchains/185bb0e3b6/bin:/opt/nordic/ncs/toolchains/185bb0e3b6/usr/bin:/opt/nordic/ncs/toolchains/185bb0e3b6/usr/local/bin:/opt/nordic/ncs/toolchains/185bb0e3b6/opt/bin:/opt/nordic/ncs/toolchains/185bb0e3b6/opt/nanopb/generator-bin:/opt/nordic/ncs/toolchains/185bb0e3b6/nrfutil/bin:/opt/nordic/ncs/toolchains/185bb0e3b6/opt/zephyr-sdk/arm-zephyr-eabi/bin:/opt/nordic/ncs/toolchains/185bb0e3b6/opt/zephyr-sdk/riscv64-zephyr-elf/bin:$PATH
export GIT_EXEC_PATH=/opt/nordic/ncs/toolchains/185bb0e3b6/Cellar/git/2.37.3/libexec/git-core
export GIT_TEMPLATE_DIR=/opt/nordic/ncs/toolchains/185bb0e3b6/Cellar/git/2.37.3/share/git-core/templates
export NRFUTIL_HOME=/opt/nordic/ncs/toolchains/185bb0e3b6/nrfutil/home
export ZEPHYR_TOOLCHAIN_VARIANT=zephyr
export ZEPHYR_SDK_INSTALL_DIR=/opt/nordic/ncs/toolchains/185bb0e3b6/opt/zephyr-sdk

# SDK path
export ZEPHYR_BASE=/opt/nordic/ncs/v3.2.3/zephyr

# Zephyr cache path
export ZEPHYR_USER_CACHE_DIR=$PWD/.zephyr_cache

echo "Configured environment variables for west build PATH"